<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.gpslistener"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="11"
        android:targetSdkVersion="17" />

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.gpslistener.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.gpslistener.DetailActivity"
            android:label="@string/title_activity_detail"
            android:parentActivityName="com.gpslistener.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.gpslistener.MainActivity" />
        </activity>
        <service
            android:name ="com.gpslistener.services.GPSListenerService"
            android:exported="false"/>
        <service
            android:name ="com.gpslistener.services.OfflineLocationsResolverService"
            android:exported="false"/>
        
        <receiver 
            android:name="com.gpslistener.helpers.ConnectionChangeReceiver"
          	android:label="NetworkConnection">
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE"/>
  			</intent-filter>
		</receiver>
		
        <provider 
		   android:name=".models.DetectedLocationsProvider"
		   android:authorities="com.gpslistener.provider" 
		/>
        
    </application>

</manifest>
